$primary: #ffe800;
$link1: #f6981b;
$link2: #b3570e;
$secondary: #2a0002;
$contrast: #cef7cb;
$white: #fff;

body {
  color: $secondary;
  background-color: $primary;
  padding-top: 70px;
}

.content {
  background-color: $white;
  border: dashed $secondary 2px;
  padding: 2%;
}

nav, .navbar, .navbar-nav li a, .navbar-brand, .dropdown, .dropdown-menu {
  color: $secondary;
  background-color: $primary;
  line-height: 2;
  font-family: 'Cantata One', Georgia, serif;
}

.navbar-nav li a:hover {
  background-color: $contrast;
}

nav {
  padding-right: 3%;
}
