<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <div id="login">
      <h2>Admin Login</h2>
      <button>Login</button>
    </div>
    <div id="logout">
      <h2>Admin Logout</h2>
      <button>Logout</button>
    </div>
  </div>
  <div class="col-xs-4"></div>
</div>


<script>
  if(localStorage['admin']==="true") {
    $("#logout").show();
    $("#login").hide();
  } else {
    $("#logout").hide();
    $("#login").show();
  }

$("button").click(function() {
  if(localStorage['admin']==="true") {
    localStorage['admin']="false";
  } else {
    localStorage['admin']="true";
  }
  location.reload();
});

</script>
