<!DOCTYPE html>
<html>
<head>
  <title>News Website</title>
  <link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>{{stylesheet}}</style>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a href="/" class="navbar-brand navbar-left">My News</a>
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a href="/">Front Page</a></li>
          <li class="nav-item"><a href="/category">Category Page</a></li>
          <li class="nav-item"><a href="/category/article">Article Page</a></li>
          <li class="nav-item"><a href="/search">Search</a></li>
          <li class="dropdwn"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a href="/admin/settings" class="nav-link">Website Settings</a></li>
            <li class="nav-item"><a href="/admin/categories" class="nav-link">Manage Categories</a>
            <li class="nav-item"><a href="/admin/articles" class="nav-link">Manage Stories</a></li>
            <li class="nav-item"><a href="/admin/assets" class="nav-link">Manage Media Assets</a></li>
            <li class="nav-item"><a href="/admin" class="nav-link">Login/out</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container content">
