<h2>Manage Assets</h2>
<p>As a photographer(artist/videographer), I can submit a photo(image/video).</p>
<p>As a photographer(artist/videographer), I can edit a photo(image/video) I submitted before it is published.</p>
<p>As a photographer(artist/videographer), I can delete a photo(image/video) I submitted before it is published.</p>
<p>As an editor, I can edit any photo(image/video) submitted.</p>
<p>As an editor, I can approve/publish any photo(image/video).</p>
<p>As an editor, I can reject a photo(image/video) (which notifies reporter to fix or delete).</p>
